:root {
	--sw-gold: #ffe81f;
	--sw-blue: #5776cc;
	--sw-black: #000000;
	--sw-white: #fffafa;
}

html,
body {
	width: 100%;
	height: 100%;
}
body {
	background-image: url('./img/BANNERstarwars3.jpg');
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: var(--sw-black);
	color: var(--sw-white);
}
main {
	position: relative;
	max-width: 540px;
	margin: 0 auto;
}
.App {
	position: relative;
	text-align: center;
	padding: 0 20px;
}
.App > h1 {
	padding: 2rem 0;
	color: var(--sw-gold);
}
section.characters > h2 {
	padding: 1rem 0;
	margin: 0;
	text-align: left;
	color: var(--sw-blue);
}
select.characters {
	position: relative;
	display: flex;
	padding: 6px;
	font-size: 1.4rem;
	width: 300px;
	text-align: left;
}
.movies-section {
	position: relative;
	top: 20px;
	text-align: left;
}
.movies-section > h2 {
	padding: 1.5rem 0 1.2rem;
	color: var(--sw-blue);
}
.movie-titles {
	position: relative;
	bottom: 20px;
}
.movie-titles p {
	font-size: 1.8rem;
	margin-bottom: 0;
}
.last-movie > h2 {
	padding: 1.5rem 0 1.2rem;
	color: var(--sw-blue);
}
.last-movie {
	position: relative;
	bottom: 10px;
}
.last-movie > p {
	position: relative;
	font-size: 1.8rem;
	bottom: 20px;
}
p.loading {
	position: relative;
	bottom: 20px;
	font-size: 1.8rem;
	color: var(--sw-gold);
	font-style: italic;
}
